#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.datePicker{
  padding: 15px;
  margin: 0 250px 25px 25px;
  background-color: lightgrey;
}
.green {
  text-decoration: none;
  color: #ff6400;
  font-weight: bold;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
